﻿@model AcerCMS.Models.CommentViewModel


<div id="Comments">
    <div class="panel panel-default">
        <div class="panel-heading">Yorumlar</div>
        <div class="panel-body">
            <div id="loading" style="display:none;">
                <i class="fa fa-refresh fa-spin fa-4x"></i>
            </div>           
            @if (Model.Comments.Any())
            {
                <div class="well">
                    @foreach (var comment in Model.Comments)
                    {
                        <h4>@comment.AuthorName <small>@comment.UpdateDate.ToString("dd-MM-yyyy HH:mm")</small></h4>
                        <p>@comment.Content</p>
                    }
                </div>
            }

            <div id="addCommentAlert" class="alert alert-warning">                
                <strong>Yorum Ekelemek için!</strong>
                @*@Ajax.ActionLink("Tıklayınız...", "Create", "Comment", new { entityId = Model.FirstOrDefault().EntityId, entity = Model.FirstOrDefault().Entity }
                        , new AjaxOptions()
                        {
                            HttpMethod = "get",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "CommentForm",
                            LoadingElementId = "loading",
                            LoadingElementDuration = 500,
                            OnSuccess = "HideAlert();"
                        })*@

                @Html.Action("Create", new {entityId = Model.EntityId, entity = Model.EntityType})
            </div>

        </div>
    </div>
</div>
